<div *ngFor="let customer of customers | async">

    <hr>

    <ul style="display: flex; list-style-type: none; justify-content: space-between;">
        <li><h3>{{ customer.usuario }}</h3></li>
        <li>
            <ul style="display: flex; list-style-type: none; justify-content: space-between;">
                <li><h3><a (click)="readCustomer( customer )">Ler</a></h3></li>
                <li><div style="width: 14px;"></div></li>
                <li><h3><a [routerLink]="['/editar', customer.id]">Editar</a></h3></li>
                <li><div style="width: 14px;"></div></li>
                <li><h3><a (click)="delCustomer( customer.id )">Excluir</a></h3></li>
                <li><div style="width: 14px;"></div></li>
            </ul>
        </li>
    </ul>
</div>

